{% extends 'base.html.twig' %}
{% block title post.title %}

{% block body %}
    <div class="container mt-4" style="width: 50em">
        <div class="row" style="margin-top: 10em">
            {% if post.image %}
                <div class="col-md-4">
                    <img src="/images/posts/{{ post.image }}" class="card-img" alt="image"
                         style="width: 100%; height: auto">
                </div>
            {% else %}
                <div class="col-md-4">
                    <img src="/images/posts/image_by_default.png" class="card-img" alt="image2"
                         style="width: 80%; height: auto">
                </div>
            {% endif %}
            <div class="col-md-8" style="padding-left: 2em;">
                <h2>{{ post.title }}</h2>
                <p><small>Posté le {{ post.createdAt.date|date("d/m/Y H:i", "Europe/Paris")}}</small></p>
                <p>{{ post.zipCode }} {{ post.city }}</p>
                <a href="#" id="contactBtn" class="btn btnShow">Voir contact</a>
                {% if is_granted('ROLE_USER') %}
                    <p id="userEmail">{{ post.user.email }}</p>
                {% else %}
                    <p id="userEmail">Vous devez vous connecter pour accèder au contact</p>
                {% endif %}
            </div>

        </div>
        <hr style="margin-top: 3em">
        <div style="margin-bottom: 5em">
            <p style="margin-top: 3em">PLUS DE DETAILS </p>
            <p>{{ post.description }}</p>
        </div>

    </div>
{% endblock %}


{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#contactBtn').click(e => {
                e.preventDefault();
                $('#userEmail').slideDown();

            });
        })
    </script>
{% endblock %}