{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
    <h1 style="margin-top: 2em">Créer un post</h1>
    {{ include('back_office/posts/_form.html.twig') }}
    </div>
{#    {{ form_start(form) }}#}

{#    {{ form_row(form.title) }}#}
{#    {{ form_row(form.description) }}#}
{#    {{ form_row(form.image) }}#}

{#    <button class="btn">{{ button_label|default('Save') }}</button>#}
{#    {{ form_end(form) }}#}
{% endblock %}