{% extends 'base.html.twig' %}

{% block title %}Créer une annonce {% endblock %}

{% block body %}
    <div class="container mt-4 formContrainer">
    <h1 class="h1Style">Poster une annonce</h1>
    {{ include('back_office/posts/_form.html.twig') }}
    </div>
{#    {{ form_start(form) }}#}

{#    {{ form_row(form.title) }}#}
{#    {{ form_row(form.description) }}#}
{#    {{ form_row(form.image) }}#}

{#    <button class="btn">{{ button_label|default('Save') }}</button>#}
{#    {{ form_end(form) }}#}
{% endblock %}