{% extends 'base.html.twig' %}


{% block body %}
    <div class="container mt-4">
        <h1 class="h1Style">Mes annonces</h1>

        {% for post in posts %}
            <div class="card text-center cardPost">
                <div class="card-header">
                    {{ post.title }}
                </div>
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <div class="card-text descCard">
                        {% if post.image %}
                        <img src="/images/posts/{{ post.image }}" alt="image" style="width: 10%">
                        {% endif %}
                        <p style="margin-left: 2em;}">{{ post.description }}
                        </p>
                    </div>
                    <a href="{{ path('edit_post', {id: post.id}) }}" class="btn btnEdit">Modifier</a>
                </div>
                <div class="card-footer text-muted">
                    posté le {{ post.createdAt.date }}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}


