{% extends 'base.html.twig' %}

{% block title %}Mon compte {% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="h1Style">Mon compte</h1>
{#{{ user.firstname }}#}
        <span>{{ user.firstname }}</span>
        <span>{{ user.lastname }}</span>
        <span>{{ user.email }}</span>
        <span>{{ user.phone }}</span>
        <a class="btn btnEdit" href="{{ path('account_edit',{id: user.id}) }}">Modifier</a>
    </div>
{% endblock %}