{% extends 'base.html.twig' %}

{% block title %}Mon compte {% endblock %}

{% block body %}
    <div class="container mt-4 formContrainer">
        <h1 class="h1Style">Mon compte</h1>
        <div class="profile">
            <div class="profileMarg">
                <img class="profileImg" src="/images/site/userAccount.png" alt="image2"/>
            </div>
            <div class="row" style="padding-top: 2em">
                <div class="col">
                    <span>{{ user.firstname }}</span>
                </div>
                <div class="col">
                    <span>{{ user.lastname }}</span>
                </div>
            </div>
            <div class="row" style="padding-top: 2em">
                <div class="col">
                    <span>{{ user.email }}</span>
                </div>
                <div class="col">
                    <span>{{ user.phone }}</span>
                </div>
            </div>
        </div>

        <div class="text-right" style="margin-top: 2em">
            <a class="btn btnEdit" href="{{ path('account_edit',{id: user.id}) }}">Modifier</a>
        </div>
    </div>
{% endblock %}