{{ form_start(form) }}
{#    {{ form_widget(form) }}#}
    {{ form_row(form.firstname) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.phone) }}
<div class="text-right">
    <button class="btn btnSave">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}
