{% extends 'base.html.twig' %}

{% block title %}Membres{% endblock %}

{% block body %}
    <div class="container mt-4">
        <a class="btn btnBack" style="margin-left: 0px;margin-bottom: -2em !important" href="{{ path('users_index') }}">Retour</a>
        <h1 class="h1Style">Membres</h1>
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>E-mail</th>
                <td>{{ user.email }}</td>
            </tr>
            {#            <tr>#}
            {#                <th>Password</th>#}
            {#                <td>{{ user.password }}</td>#}
            {#            </tr>#}
            <tr>
                <th>Téléphone</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>Rôle</th>
                <td>{{ user.role }}</td>
                </th>
            </tr>
            </tbody>
        </table>

        <div class="text-right">
            <a class="btn btnEdit" href="{{ path('users_edit', {'id': user.id}) }}">Editer</a>
        </div>

        {{ include('back_office/users/_delete_form.html.twig') }}
    </div>
{% endblock %}
