{% extends 'base.html.twig' %}

{% block title %}posts{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 style="margin-top: 2em">Détails des annonces</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ post.imageFile }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ post.description }}</td>
            </tr>
            <tr>
                <th>Code postal</th>
                <td>{{ post.zipCode }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ post.city }}</td>
            </tr>
            <tr>
                <th>Membre</th>
                <td>{{ post.user.firstname }}</td>
            </tr>
            </tbody>
        </table>

        <a class="btn btn-dark" href="{{ path('posts_index') }}">Retour</a>

        <a class="btn btn-warning" href="{{ path('posts_edit', {'id': post.id}) }}">Editer</a>

        {{ include('back_office/posts/_delete_form.html.twig') }}
    </div>
{% endblock %}
