{% extends 'base.html.twig' %}

{% block title %}Annonces{% endblock %}

{% block body %}
    <div class="container mt-4">
        <a class="btn btnBack" style="margin-left: 0px;margin-bottom: -2em !important" href="{{ path('posts_index') }}">Retour</a>

        <h1 class="h1Style">Détails des annonces</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>
                    {% if post.image %}
                        <img src="/images/posts/{{ post.image }}" alt="image" style="width: 10%">
                        {% else %}
                        Aucune image téléchargée
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ post.description }}</td>
            </tr>
            <tr>
                <th>Code postal</th>
                <td>{{ post.zipCode }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ post.city }}</td>
            </tr>
            <tr>
                <th>Membre</th>
                <td>{{ post.user.firstname }} {{ post.user.lastname }} -  {{ post.user.email }}</td>
            </tr>
            </tbody>
        </table>
        <div class="text-right">
            <a class="btn btnEdit" href="{{ path('posts_edit', {'id': post.id}) }}">Editer</a>
        </div>
        {{ include('admin/posts/_delete_form.html.twig') }}
    </div>
{% endblock %}
